faiss-cpu==1.7.4
google-auth-oauthlib==1.0.0
google-api-python-client==2.93.0
google-search-results==2.4.2
langchain==0.0.232
newsapi-python==0.2.7
numpy==1.25.1
openai==0.27.8
presidio-analyzer==2.2.33
protobuf==3.20.3
redis==4.6.0
sentencepiece==0.1.99
spotipy==2.23.0
streamlit==1.24.1
streamlit-chat==0.1.1
streamlit-extras==0.2.7
torch==2.0.1
TikTokApi==5.2.2
transformers==4.30.2
watchdog==3.0.0
weaviate-client==3.22.1
wikipedia==1.4.0